<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <springProfile name="local">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
    </springProfile>

    <springProfile name="dev">
        <http>
            <url>http://loki-grafana-loki-query-frontend-headless.monitoring.svc:3100/loki/api/v1/push</url>
        </http>
    </springProfile>

        <format>
            <label>
                <pattern>app=${APP_NAME},host=${APP_NAME},traceID=%X{traceId:-NONE},level=%level</pattern>
            </label>
            <message>
                <pattern>trace_id=%X{traceId:-NONE} level=%level host=${APP_NAME} class=%logger{20} thread=%thread | %msg %ex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>